*/*.png
.vscode/settings.json
Dixon2012-H1hESC-HindIII-allreps-filtered.10kb.cool
Dixon2012-H1hESC-HindIII-allreps-filtered.100kb.cool
saved_model/gen_model/variables/*
saved_model/gen_model/variables/variables*
training_checkpoints/*
logs/*
__pycache__/*
test_tensorboard.py
model.pyc
slurm*.out
tf*.log
*.out
saved_model/*
D1.png
draft.drawio
utils/__pycache__/operations.cpython-37.pyc
datasets_hic.npz
test_*.ipynb
data/input/Dixon2012_10kb/*
