our_model/*.png
.vscode/settings.json
*.cool
training_checkpoints/*
__pycache__/*
test_tensorboard.py
our_model/*.out
our_model/saved_model/*
our_model/logs/*
our_model/__pycache__/*
our_model/utils/__pycache__/*.pyc
datasets_hic.npz
test_*.ipynb
data/*

.Rhistory
draft.drawio
